/* HOW */
.split-heading {
    display: grid;
    grid-template-columns: 1fr 360px;
    align-items: end;
    gap: 60px;
}

.split-heading > p {
    margin: 0;
    color: var(--grey);
    line-height: 1.8;
    max-width: 320px;
}

.steps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid var(--border);
}

.step {
    position: relative;
    min-height: 330px;
    padding: 30px 25px 30px 0;
    border-right: 1px solid var(--border);
    margin-right: 25px;
}

.step:last-child {
    border-right: 0;
    margin-right: 0;
}

.step-number {
    display: block;
    color: var(--yellow);
    font-size: 10px;
    letter-spacing: .15em;
    margin-bottom: 55px;
}

.step-line {
    width: 45px;
    height: 1px;
    background: var(--yellow);
    margin-bottom: 28px;
}

.step h3 {
    font-family: var(--heading);
    font-size: 25px;
    line-height: .95;
    letter-spacing: -.035em;
    margin-bottom: 22px;
}

.step p {
    color: var(--grey);
    font-size: 13px;
    line-height: 1.7;
    max-width: 235px;
}


